.HighScores{
	position: absolute;
	left: 5%;
	top: 5%;
	width: 20vw;
	background: linear-gradient(to right, #111, #222);
	padding-left: 20px;
	border: 4px solid white;
}

.HighScores h3,
.HighScores h4{
	color: white;
}