.Block{
	position: absolute;
	box-sizing: border-box;
	border: 1px solid #000;
}

.Inner{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	height: 60%;
	width: 60%;
	opacity: .2;
	background-color: white;
}